.bok-book-cover-area {
  width: 25%;

  @include normal-pc {
    width: 18%;
  }
}

.bok-book-cover {
  width: 64px;
  height: 80px;
  box-shadow: 0 0 3px 2px #bababa;
  margin-top: 0.3em;

  @include normal-pc {
    width: 88px;
    height: 107px;
  }
}

.bok-book-cover:hover {
  box-shadow: 0 0 3px 2px #919191;
}

.bok-area {
  position: relative;
  width: 75%;

  @include normal-pc {
    width: 82%;
    padding-left: 0.5rem;
  }
}

.bok-user {
  overflow: visible;
  margin: 0;
  font-size: 1.2rem;
  display: inline;
  vertical-align: center;

  @include normal-pc {
    font-size: 1rem;
  };
}

.bok-body {
  vertical-align: top;
  display: inline-block;
  white-space: pre-wrap;
  font-size: 0.7rem;
  line-height: 1.5em;

  @include normal-pc {
    font-size: 0.8rem;
  }
}

.page-line-updated {
  display: block;
  overflow: visible;
  margin-bottom: 0;
  width: 60%;
  font-size: 0.8rem;
  vertical-align: top;

  @include normal-pc {
    margin-top: 0;
    display: inline;
    font-size: 0.8rem;
  }
}

.bok-page {
  display: inline;
 }

.bok-line {
  display: inline;
}

.bok-updated {
  display: block;

  @include normal-pc {
    display: inline;
  }
}
