.back-button {
  padding: 1rem 0;
}

img.title-book-cover {
  max-width: 64px;
  max-height: 80px;

  @include normal-pc {
    max-width: 128px;
    max-height: 160px;
  };
}

.title-book-name {
  word-break: break-all;
  font-size: 0.8em;

  @include normal-pc {
    font-size: 1em;
  };
}

.page-content-wrap {
  position: relative;
}

.row-book-detail {
    margin: 0;
}

.main-content {
  background-color: white;
}

.sub-content {
  position: static; // mainコンテンツの上に表示するため
  flex: 0 1 auto;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  width: 80%;

  @include normal-pc {
    position: absolute;
    margin-left: 3rem;
    max-width: 20%;
  }
}
