@mixin mq-sm {
    @media screen and (max-width: ($sm)) {
        @content;
    }
}

@mixin mq-pc {
    @media screen and (min-width: ($pc)) {
        @content;
    }
}

pre.book-view-pre{
    @include mq-sm {
        text-overflow: ellipsis;
        width: 100px;
        font-size: 12px;
        overflow: hidden;
    };
    @include mq-pc {
        margin-left: 30px;
        text-overflow: ellipsis;
        width: 140px;
        font-size: 15px;
        overflow: hidden;
    };
}

img.book-view-img{
    max-width: 92px;
    max-height: 115px;

    @include mq-pc {
        margin-left: 30px;
        max-width: 128px;
        max-height: 168px;
    };
}
