@mixin mq-sm {
    @media screen and (max-width: ($sm)) {
        @content;
    }
}

@mixin mq-pc {
    @media screen and (min-width: ($pc)) {
        @content;
    }
}

.book-list-wrapper {
    text-align: center;
    width: 100%;

    // BookListで使う
    .book-view-box {
        float: left;
        width: 33.33%; // 1/3 size
        padding: 10px;

        @include middle-screen {
            width: 20%; // 1/5 size
        }
        @include normal-pc {
            width: 12.5%; // 1/8 size
        }
    }

    // UserBookshelfで使う
    .bookshelf-box {
        float: left;
        width: 33.33%; // 1/3 size
        padding: 10px;

        @include middle-screen {
            width: 25%; // 1/4 size
        }
        @include normal-pc {
            width: 20%; // 1/5 size
        }
    }


    img.book-view-img{
        max-width: 92px;
        max-height: 115px;

        @include normal-pc {
            max-width: 110px;
            max-height: 155px;
        };
    }

    pre.book-view-pre{
        text-overflow: ellipsis;
        font-size: 12px;
        overflow: hidden;

        @include normal-pc {
            font-size: 15px;
        };
    }
}
