.back-button {
  padding: 1rem 0;
}

img.title-book-cover {
  max-width: 64px;
  max-height: 80px;

  @include normal-pc {
    max-width: 128px;
    max-height: 160px;
  };
}

.title-book-name {
  word-break: break-all;
  font-size: 0.8em;

  @include normal-pc {
    font-size: 1em;
  };
}

.page-content-wrap {
  position: relative;
}

.row-book-detail {
    margin: 0;
}

