// 本の情報
.book-info{
  text-align: center;
  width: 80px;

  @include normal-pc {
    width: 160px;
  };
}

img.book-cover {
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);

  width: 64px;
  max-height: 80px;

  @include normal-pc {
    width: 128px;
    max-height: 160px;
  };
}

img.book-cover:hover {
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.4);
}

pre.book-title{
  display: none;

  @include normal-pc {
    white-space: pre-wrap;
    margin-top: 5px;
  };
}

.book-footer{
  font-size: 0.8rem;
  height: 20px;

  @include mq-pc {
    height: 40px;
  };
}

// bok部分
.bok-user {
  overflow: visible;
  margin: 0;
  font-size: 0.8rem;

  @include normal-pc {
    font-size: 0.8rem;
  };
}

.bok-body {
  vertical-align: top;
  margin: 0;
  min-height: 50%;
  white-space: pre-wrap;
}

.bok-footer{
  font-size: 0.7rem;
  vertical-align: bottom;

  @include mq-pc {
    font-size: 0.8rem;
  };
}

pre.updated {
  overflow: visible;
  margin: 0;
  width: 50%;
  font-size: 0.8rem;
  vertical-align: top;
}

.liked {
  margin: 0;
  @include normal-pc {
    font-size: 1.1rem;
  }
}

.loved {
  margin: 0;
  @include mq-pc {
    font-size: 1.1rem;
  }
}

.icon {
  @include mq-pc {
    font-size: 1.5rem;
  };

  @include mq-sm {
    font-size: 1rem;
  };
}

.like-animation{
  color: #4286f4;
}

.love-animation{
  color: #46a80d;
}
