// 本の情報
.book-info{
  width: 150px;
  text-align: center;
}

.book-footer{
  height: 40px;
  font-size: 0.8rem;
}

// bok部分
.bok-info{
}

.bok-user{
  height: 20px;
  font-size: 0.8rem;
}

.bok-body{
  min-height: 60%;
  vertical-align: top;
}

.bok-footer{
  height: 20px;
  font-size: 0.7rem;
  margin: 10px;
}

.icon{
  font-size: 1.5rem;
}

.like-animation{
  color: #4286f4;
}

.love-animation{
  color: #46a80d;
}
