footer {
  color: lightgray;

  nav {
    border-top: 1px solid darkgray;
  }

  a {
    color: gray;
  }
  a:hover {
    color: darkgray;
  }

  ul.footer-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0;

    .footer-list-item {
      padding-right: 2em;
    }

    @include smart-vertical {
      flex-direction: column;

      .footer-list-item {
        padding-bottom: 1em;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }

  }
}
