footer {
  border-top: 1px solid #eaeaea;
  color: lightgray;

  a {
    color: gray;
  }
  a:hover {
    color: darkgray;
  }

  ul {
    list-style: none;

    li {
      margin-left: 0;
      margin-bottom: 1em;

      @include tablet {
        margin-right: 0.6em;
      }

      @include normal-pc {
        margin-left: 1em;
      }
    }
  }
}
