.main-content {
  background-color: white;

  @extend .col-md-8;
  @extend .p-5;
}

.sub-content {
  position: static; // mainコンテンツの上に表示するため
  flex: 0 1 auto;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  width: 80%;

  @include normal-pc {
    position: absolute;
    margin-left: 3rem;
    max-width:20%;
  }

  @extend .col-md-7;
  @extend .col-xl-4;
}
