// bok部分
.userd-bok-user {
  overflow: visible;
  margin: 0;
  font-size: 0.8rem;

  @include normal-pc {
    font-size: 1rem;
  };
}

.userd-bok-body {
  vertical-align: top;
  display: inline-block;
  margin: 0;
  white-space: pre-wrap;
  font-size: 0.7rem;
  line-height: 1.5em;
  margin-right: 2px;

  @include normal-pc {
    font-size: 0.8rem;
  }
}

.userd-bok-footer{
  font-size: 0.6rem;
  vertical-align: bottom;

  @include normal-pc {
    font-size: 0.8rem;
  };
}

.userd-page-line-updated {
  display: block;
  overflow: visible;
  margin-bottom: 0;
  width: 60%;
  font-size: 0.6rem;
  vertical-align: top;

  @include normal-pc {
    margin-top: 0;
    display: inline;
  }
}

.userd-page {
  display: inline;
 }

.userd-line {
  display: inline;
}

.userd-updated {
  display: block;

  @include normal-pc {
    display: inline;
  }
}

.boks-bok {
  .boks-relation-line {
    margin: .5rem auto 0;
    width: 3px;
    height: 42px;
    background-color: rgba(0, 0, 0, .125);
  }
}
.boks-bok:last-child{
  .boks-relation-line {
    display: none;
  }
}
