// bok部分
.userd-bok-user {
  overflow: visible;
  margin: 0;
  font-size: 0.8rem;

  @include normal-pc {
    font-size: 1rem;
  };
}

.userd-bok-body {
  vertical-align: top;
  display: inline-block;
  margin: 0;
  white-space: pre-wrap;
  font-size: 0.7rem;
  line-height: 1.5em;
  margin-right: 2px;

  @include normal-pc {
    font-size: 0.8rem;
  }
}

.userd-bok-footer{
  font-size: 0.6rem;
  vertical-align: bottom;

  @include normal-pc {
    font-size: 0.8rem;
  };
}

pre.userd-page-line-updated {
  overflow: visible;
  margin-bottom: 0;
  width: 80%;
  font-size: 0.6rem;
  vertical-align: top;

  @include normal-pc {
    margin-top: 0;
  }
}
